.footer__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #33CC99;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23e3ddec' fill-opacity='0.50' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	color: white;
	padding: 1rem;
	border-radius: 0 0 3px 3px;
	span {
		padding: 0 2px;
		a {
			color: white;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}